####################
# General
####################
**/*.zip
**/*.*~*

####################
# BIM
####################
**/*.dxf
**/*.ifc*
**/*.log
**/*.rvt

####################
# FDS Files
####################
**/*.bf*
**/*.binfo
**/*.end
**/*.iso
**/*.prt*
**/*.q
**/*.restart
**/*.s3d*
**/*.sf*
**/*.sinfo
**/*.ter
**/*.xyz

####################
# SMV
####################
**/*.svz
**/*.sz
**/*.szz

####################
# PyroSim
####################
**/*.pfr*
**/*.psm
**/*.psm.*
**/*.pyrogeom

####################
# Pathfinder
####################
**/*.geom
**/*.octrmesh
**/*.pfd
**/*.pfg
**/*.pfr*
**/*.pth
**/*.snapshot
